<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Include this permission to grab user's general location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hover"
        android:configChanges="orientation|screenSize|keyboardHidden"

        android:windowLayoutInDisplayCutoutMode="never"
        >
        <!-- 针对 Android 9.0（API 级别 28）及以上版本 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- 针对刘海屏适配 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
<!--        小米匹配-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"
            >

        </meta-data>
        <activity
            android:name=".pages.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowLayoutInDisplayCutoutMode="shortEdges"
            android:theme="@style/Theme.Hover">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.MapActivity"
            android:exported="true"
            android:theme="@style/Theme.Hover"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Hover"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>